body {
    width: 300px;
    height:400px;
    background-color: rgba(61, 68, 114, .7);
    border: solid 2px white;
    position: relative;
}
/* handle views */
.popup_info, .popup_contacts {
  display: none;
  /* height: 339.84px; */
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-bottom: solid 2px white;
    padding-bottom: 15px;
}
p, label {
    text-align: center;
    color: white;
    text-transform: uppercase;
}
/* select */
  div.container {
    margin: 0 auto 34px;
    width: 260px;
    background-color: transparent;
  }
  
  div.dropdown {
    position: relative;
  }
  
  div.dropdown > div.caption {
    background-color: #f2f2f2;
    padding: 11px 24px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  div.dropdown > div.list {
    position: absolute;
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 0 0 3px 3px;
    display: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  div.dropdown > div.list > div.item {
    padding: 11px 24px;
    cursor: pointer;
  }
  
  div.dropdown > div.list > div.item.selected {
    font-weight: bold;
  }
  
  div.dropdown > div.caption:hover,
  div.dropdown > div.list > div.item:hover {
    background-color: rgba(61, 68, 114, .9);
    color: #fff;
  }
  
  div.dropdown.open > div.caption {
    border-radius: 3px 3px 0 0;
    border-bottom: solid 1px #999;
  }
  
  div.dropdown.open > div.list {
    display: block;
  }
  /* end select */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50px; */
    border-top: solid 2px white;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
}
.menu a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    text-align: center;
    width: 50%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.menu a:first-of-type{
    border-right: solid 2px white;
} 
/* secondary views */
.popup_info *, .popup_contacts * {
  display: block;
  text-align: center;
  margin: auto;
}
.popup_info label, .popup_contacts label {
  margin-bottom: 10px;
}
.popup_info input, .popup_contacts input {
  background-color: #f2f2f2;
  padding: 11px 24px;
  border-radius: 3px;
  cursor: pointer;
  width: 70%;
}
.popup_info button, .popup_contacts button {
  width: 87%;
  margin-top: 10px;
  background-color:rgba(61, 68, 114, .9);
  padding: 10px 0;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer
}
.back {
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-top: solid 2px white;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17.5px 0;
}


/* #3d4472 */